@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    background-color: #E88D67;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#container {
    height: 500px;
    width: 350px;
    background-color: #F3F7EC;
    border-radius: 16px;
    margin: 0;
    padding: 10px;
}

#display {
    margin-top: 5px;
    height: 75px;
    background-color: #005C78;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;
}

#pad {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#numPad {
    display: flex;
    flex-direction: column;
}


#topPad {
    display: flex;

}

.button-AC .button-Pad {
    width: 160px;
    background-color: #E88D67;
}

.button-zero .button-Pad {
    width: 160px;
}
#bottomPad {
    display: flex;
}

.row {
    display: flex;
}


.column {
    display: flex;
    flex-direction: column;
}

.column .button-Pad {
    background-color: #2b9cbe;
}

.row:last-child {
    align-self: center;
}

.button-Pad {
    background-color: #006989;
    color: #F3F7EC;
    border: 0;
    margin: 5px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    height: 70px;
    width: 75px;
    border-radius: 3px;
}

.button-Pad:hover{
    box-shadow: 1px 1px 7px 5px rgb(0 0 0 / 20%);
}

p {
    margin: 0;
    padding: 0;
    height: 50px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #F3F7EC;
}

.button-Pad:hover {
    cursor: pointer;
}

